name: Reusable SonarCloud Analysis

on:
  workflow_call:
    inputs:
      projectKey:
        required: true
        type: string
      organization:
        required: true
        type: string
      microserviceDir:         
        required: true
        type: string
    secrets:
      SONAR_TOKEN:
        required: true

jobs:
  sonar-analysis:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin

      - name: Cache SonarCloud packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Cache Gradle packages
        uses: actions/cache@v4
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle

      # Preparar configuración de Sonar en el microservicio
      - name: Generate sonar-project.properties
        run: |
          echo "sonar.projectKey=${{ inputs.projectKey }}" > ${{ github.workspace }}/${{ inputs.microserviceDir }}/sonar-project.properties
          echo "sonar.organization=${{ inputs.organization }}" >> ${{ github.workspace }}/${{ inputs.microserviceDir }}/sonar-project.properties
          echo "sonar.host.url=https://sonarcloud.io" >> ${{ github.workspace }}/${{ inputs.microserviceDir }}/sonar-project.properties
          echo "sonar.projectBaseDir=${{ github.workspace }}/${{ inputs.microserviceDir }}" >> ${{ github.workspace }}/${{ inputs.microserviceDir }}/sonar-project.properties
          echo "sonar.projectProperties=${{ github.workspace }}/sonar/sonar-common.properties" >> ${{ github.workspace }}/${{ inputs.microserviceDir }}/sonar-project.properties

      # Ejecutar build y análisis
      - name: Build and analyze with SonarCloud
        working-directory: ${{ github.workspace }}/${{ inputs.microserviceDir }}
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ./gradlew clean build sonarqube -x test --info